body {
  color: #fff;
  background-image: linear-gradient(-135deg, #7BC4DA 0%, #4E5ABE 100%);
  background-image: linear-gradient(-135deg, #363256 0%, #4C4B78 92%);
  background: #363256 rgba(94, 110, 220, 0.5);
}
